.ol-control.ol-layerswitcher-image {
    top: 2.6em;
    right: 4em;
}

.ol-control.ol-layerswitcher-image.ol-collapsed {
    top: 2.6em;
}

.ol-layerswitcher-image button {
    background-image: url('../../../images/tools/basemap/baseIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
}