html,
body {
    margin: 0;
    height: 100%;
}


/* toolbar样式 s */

.navbar-offset {
    margin-top: 50px;
}


/* toolbar样式 e */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}